on:
  push:
    branches: [main, master]
  pull_request:

name: R-CMD-check.yaml
permissions: read-all

jobs:
  R-CMD-check:
    strategy:
      fail-fast: false
      matrix:
        config:
          - {os: macos-latest, r: 'release'}
          - {os: windows-latest, r: 'release'}
          - {os: ubuntu-latest, r: 'devel', http-user-agent: 'release'}
          - {os: ubuntu-latest, r: 'release'}
          - {os: ubuntu-latest, r: 'oldrel-1'}
    name: ${{ matrix.config.os }} (${{ matrix.config.r }})
    runs-on: ${{ matrix.config.os }}
    env:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      R_KEEP_PKG_SOURCE: yes
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Install system dependencies (macOS)
        if: runner.os == 'macOS'
        run: |
          # Install system dependencies (macOS)

          brew install gdal proj geos

          echo "PROJ_LIB=/opt/homebrew/share/proj" >> "${GITHUB_ENV}"
        shell: bash

      - name: Set up Pandoc
        uses: r-lib/actions/setup-pandoc@v2

      - name: Set up R
        uses: r-lib/actions/setup-r@v2
        with:
          r-version: ${{ matrix.config.r }}
          http-user-agent: ${{ matrix.config.http-user-agent }}
          use-public-rspm: true

      - name: Install R dependencies
        uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: any::rcmdcheck, local::.
          needs: check

      - name: Check GDAL/PROJ Config (macOS)
        if: runner.os == 'macOS'
        run: |
          # Check GDAL/PROJ Config (macOS)

          Rscript -e "terra::gdal(lib = 'all')"
        shell: bash

      - name: Run R CMD check
        uses: r-lib/actions/check-r-package@v2
        with:
          upload-snapshots: true
          build_args: 'c("--no-manual","--compact-vignettes=gs+qpdf")'
